.container {
	margin: 0 1em;

	@include mq("tablet") {
		margin: auto;
		max-width: 680px;
	}

	@include mq("desktop-wide") {
		max-width: 860px;
	}
}
.view-height {
	position: relative;
}

.topic-container {
	display: none;
	.typed-string {
		display: none;
	}

	h1 {
		margin-bottom: 0.5em;
	}
}
.active {
	display: block;
}

.counter-container {
	margin-bottom: 1em;

}

.video-container {
	height: 80%;
	video {
		width: 100%;
		height: 100%;
	}
}

.view-height {
	min-height: 100vh;
}
